@model GPUStoreMVC.Models.Other.Login
@{
    Layout = "_LayoutClean";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/authorisation.css">
</head>
<body>
    <div class="login-container">
        <form class="w-100" asp-action="Login" method="post">
            <h1>Welcome Back!</h1>
            <h2>Sign in into your account</h2>
            <div class="input-container">
                <label asp-for="Username" class="w-100">Username</label>
                <input type="text" class="input" asp-for="Username">
            </div>
            <div class="input-container" style="margin-top: -30px;">
                <label asp-for="Password" class="w-100">Password</label>
                <input type="password" class="input" asp-for="Password">
            </div>
            <div class="input-container">
                <button class="btn btn-default" type="submit">Login</button>
                <div class="button-container" style="margin-top: 5px;">
                    <a href="Register" class="small-link">Don't have an account? Sign Up</a>
                </div>
            </div>
            <div>
                <a href="/Home/Index" class="small-link">Return</a>
            </div>
        </form>
    </div>
</body>
</html>
