<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container1 w-80 ">
        <h1>About GPU Store</h1>
        <p>Welcome to our store, where we specialize in providing high-quality GPUs for gaming and professional use. Our team of experts carefully selects the latest models from top manufacturers, ensuring that our customers always have access to the best technology on the market.</p>
        <p>With years of experience in the industry, we pride ourselves on our expertise and commitment to customer satisfaction. Our goal is to provide a seamless shopping experience, from browsing our selection to receiving your new GPU in the mail.</p>
        <h2>Our Mission</h2>
        <p>At our store, we believe that everyone deserves access to the latest and greatest technology. That's why we're committed to offering affordable prices on the most advanced GPUs available.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns, please don't hesitate to reach out to our customer service team. We're available by phone, email, or live chat, and we're always happy to help.</p>
        <div class="contact-details">
            <h2>Details</h2>
            <p> Phone: <p class="contact"> 555-1234</p></p>
            <p>Email: <p class="contact">info@ourstore.com </p></p>
            <p>Live Chat: Click the icon in the bottom right corner of your screen</p>
        </div>
    </div>
    <footer class="footer2">
        <p>&copy; 2023 GPU design</p>

    </footer>
    <style>
        .container1 {
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%,-50%);
            color: black;
        }



        .contact {
            cursor: pointer;
            color: blue
        }

            .contact:hover {
                color: red;
            }

        .contact-details {
            margin-top: 2%;
            left: 10%;
            text-align: center;
        }
    </style>


</body>
</html>