@using GPUStoreMVC.Models.Data;
@model GPUStoreMVC.Models.Other.GPUListVM
@{
    Layout = "_Layout";
}
<div class="container">
    <section class="search-bar">
        <form>
            <input type="text" placeholder="Search for GPUs...">
            <button type="submit"><i class="fa fa-search"></i></button>
            <a class="btn btn-default" href="/Home/Index">All</a>
        </form>
    </section>
    <section class="GPUs">
        @foreach(var gpu in Model.GPUList)
        {
            <div class="GPU-card" onclick="window.location.href='/GPU-detail.html'">
                <div class="GPU-image">
                    <img src="/Uploads/@gpu.GPUImage">
                </div>
                <div class="GPU-info">
                    <h4>@gpu.Name</h4>
                    <h4>@gpu.Price $</h4>
                    <h4>@gpu.Memory</h4>
                </div>
            </div>
        }

    </section>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>